{% extends 'base.html.twig' %}

{% block title %}Affichage{% endblock %}

{% block body %}
<style>

.container-fluid{
    background-color: #546e7a;
}

.year{
    /*display: flex;*/
}

.weeks{
    margin-bottom: 25px;
    color: white;
}
.weeks .month-title{

}

.week{
    width: 100%;
    margin-bottom: 20px;
}

.week-top{
    display: flex;
    padding: 0 5px;
}

.week-top .week-date{
    margin-right: auto;
}

.week-content{
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
}
.week-content.passed{
    background-color: #757575;
}
.week-content.notset{
    background-color: #e53935;
}
.week-content.set{
    background-color: #43A047;
}

.week-content .week-user{
    display: block;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}

</style>

<div class="container-fluid">
    <div class="year row">
    {% for name, month in weeks %}
        <div class="weeks col-lg-2">
            <h2 class="month-title">{{ name }}</h2>
            {% for week in month %}
                <div class="week">
                    <div class="week-top">
                        <span class="week-date">{{ week.getMondayDateOfWeek() | date("d/m") }} - {{ week.getSundayDateOfWeek() | date("d/m") }}</span>
                        <span class="week-number">sem. {{ week.getWeekNum() }}</span>
                    </div>
                    <div class="week-content {{ week.getClass() }}">
                        <p class="week-user">
                        {% if week.getAstreinte() is not null %}
                            {{ week.astreinte.utilisateur.toString() }}
                        {% else %}
                            &nbsp;
                        {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}
