{% extends 'base.html.twig' %}

{% block style %}<link href="{{ asset('css/index.css') }}" rel="stylesheet">{% endblock %}
{% block title %}Accueil{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-5">
        
        {% if astreinte is not null %}
            <div class="image-holder">
                <div class="image-container">
                    <img src="
                    {% if astreinte.utilisateur.photo is null %}
                        {{  asset('images/empty.png') }}
                    {% else %}
                        {{ astreinte.utilisateur.getPhoto() }}
                    {% endif %}" />                
                </div>
            </div>
            
            <div class="texts">
                <h2 id="nom" class="text shdw">{{ astreinte.utilisateur.toString() }}</h2>
                <p id="numero" class="text shdw">{{ astreinte.utilisateur.SpaceNum() }}</p>   
            </div>             

            <a href="tel:{{ astreinte.utilisateur.numero }}"><i class="fas fa-phone call-icon shdw"></i></a>
            <br>
            <a href="sms:{{ astreinte.utilisateur.numero }}"><i class="far fa-comment-dots call-icon shdw"></i></a>

        {% else %}
            <div class="mt-5">
                <h2>Aucune Astreinte prévu</h2>
                <i class="fas fa-calendar-times mt-2" style="color: black;font-size:50px;"></i>
            </div>
        {% endif %}

        <div class="mt-5 mb-3">  
        {% if app.user is null %}
            <a href="{{ path('security.login') }}" class="btn btn-primary">Connexion</a>  
        {% else %}        
            <a class="btn btn-info" href="{{ path('site.astreintes') }}"><i class="fas fa-calendar-alt" style="font-size: 30px;"></i></a>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
